body {
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 320px) {
    .container {
        margin: 40px;
    }

    .candidate {
        display: flex;
        align-items: baseline;
        width: 100%;
        flex-direction: column;
    }

    .candidate-sm {
        flex-direction: column;
    }

.candidate {
    display: flex;
    margin-top: 20px;
    align-items: baseline;
    width: 100%;
    border-bottom: 1px solid;
}

@media screen and (min-width: 768px) { 
    .candidate-lg {
        flex-direction: row;
    }

    .candidate-lg .candidate__label {
        flex: 1;
    }

    .candidate-lg .candidate__content {
        flex: 3;
    }
}

@media screen and (min-width: 1440px) { 

    .container {
        margin: auto;
        width: 1000px;
    }
    
    .container .candidate-contact {
        display: flex;
        flex-direction: column;
    }
    
    .candidate-contact__phone {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .candidate {
        display: flex;
        margin-top: 20px;
        align-items: baseline;
        width: 100%;
        flex-direction: row;
    }

    .candidate-xl {
        flex-direction: row;
    }
    
    .candidate .candidate__label {
        flex: 1;
    }
    
    .candidate .candidate__content {
        flex: 3;
        line-height: 25px;
    }
    
    .candidate-col-layout {
        flex-direction: column;
    }
}

.d-flex {
    display: flex;
}

.d-flex-row {
    flex-direction: row;
}

.d-flex-col {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}
